#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.5em;
  padding-bottom: 1.5em;
  overflow-y: auto;
}

#page > h2 {
  width: 50%;
  background-color: var(--cor3);
  color: var(--cor0);
  padding: 8px 16px;
  font-size: 1.8em;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

#page > ul {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#page > ul > li {
  position: relative;
  width: 100%;
  background-color: var(--cor2);
  color: var(--cor1);
  list-style: none;
  padding: 12px;
  font-size: 1.1em;
  border-bottom: 2px solid var(--cor3);
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#page > ul > li:hover {
  background-color: var(--cor3);
  transform: scale(105%);
}

#page > ul > li > span {
  font-weight: bold;
  padding: 3px;
  border: 2px solid var(--cor1);
  border-radius: 6px;
}

#page .continue {
  color: var(--cor0);
}

#page .continue::after {
  content: "continue lendo...";
  position: absolute;
  right: 16px;
}

@media (max-width: 660px) {
  #page > h2 {
    width: 70%;
  }
  #page > ul {
    width: 60%;
  }
}
