#svg {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  border: 2px solid var(--cor1);
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

#svg:hover {
  background-color: var(--cor2);
  transform: translateY(-50%) scale(120%);
}

#svg.l {
  left: calc(25% - 5rem);
}

#svg.r {
  right: calc(25% - 5rem);
}

@media (max-width: 660px) {
  #svg {
    opacity: 20%;
  }
}
