#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5em;
  padding-bottom: 1.5em;
  overflow-y: auto;
}

#page > h1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor3);
  color: var(--cor0);
  padding: 10px 20px;
  font-size: 2em;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

#page > h1 > span {
  font-size: 0.5em;
}

#page > section {
  width: 50%;
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 8px;
  border: 2px solid var(--cor3);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 660px) {
  #page > h1 {
    width: 90%;
    font-size: 1.5em;
  }
  #page > section {
    width: 90%;
  }
}
